* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    background: #f4ffff;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

input,
button,
select,
textarea {
    outline: none;
}